# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store

# Plugin files
radar.iml

# Target files
target/
!**/src/main/**/target/
!**/src/test/**/target/

